@{ ViewData["Title"] = "Playlists";
                var playlists = ViewData["Playlists"] as List<Playlist>; }

<div class="text-center">

    <h1 class="display-4">Here are all of your playlists</h1> <br /><br /><br /><br />
    @if (playlists.Any())
    {
<div >
    @foreach (var playlist in playlists)
    {
<div>
    <p class="p-2">@playlist.Id # @playlist.User # @playlist.Name</p>
</div>                }
</div> }
            else
            {

    <div>
        <p>You don't have any playlist</p>
        <a href="createPlaylist"><button class="btn btn-outline-dark">Create a Playlist</button></a>
    </div>
}

</div>
