@model Supify.Models.Playlist
@{
    ViewData["Title"] = "Add Playlist";
    var playlist = ViewData["Playlist"] as Playlist;
}



<h1 class="display-4 text-center">Create your own Playlist</h1>
<br /><br /><br /><br />
                  <div>

                      <fieldset>
                          @using (Html.BeginForm())
                          {
                              <p>
                                  @Html.LabelFor(x => x.Name)
                                  @Html.EditorFor(x => x.Name)
                              </p>
                              <p>
                                  <button type="submit" class="btn btn-outline-dark">Create your playlist</button>
                              </p>}
                      </fieldset>

                      <a asp-controller="Song" asp-action="addSong"><button class="btn btn-outline-dark">Add music to your playlist</button></a>

                      @if (playlist.Name != null)
                      {
                          <div class="text-center">

                              <p>Your playlist has been created !</p>
                          </div>}
                  </div>