@model Supify.Models.Playlist
@{
    ViewData["Title"] = "Add Playlist";

    var playlists = ViewData["Playlists"] as List<Playlist>;
}



<h1 class="display-4"> Delete one of your playlists</h1>

@if (playlists.Any())
{
    <div class="playlists">
        @foreach (var playlist in playlists)
        {
            <form action="../Playlist/deletePlaylist" method="post">
                <label for="Id">@playlist.Name</label>
                <input style="display: none;" id="Id" name="Id" type="number" value="@playlist.Id">
                <button type="submit">Delete</button>
            </form>}
    </div>
    <a href="allPlaylist"><button class="btn btn-outline-dark">List of your Playlists</button></a>}

else
{
    <div class="playlists">
        <p>You don't have any playlist</p>
        <a href="allPlaylist"><button class="btn btn-outline-dark">List of your Playlists</button></a>

    </div>}