@{
    ViewData["Title"] = "Music player";
}
<body>
    <link rel="stylesheet" href="../wwwroot/css/index.css" />
    <div class="text-center" id="index_page">
        <div id="content">
            <h1 class="display-4">Welcome to Supify</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">test</a>.</p>
        </div>
    </div>
</body>
