@{
    ViewData["Title"] = "Supify - Music player";
}
<!-- this view is my welcome page, where every user will first land before the sign in-->

<!-- importing the scripts-->
<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="~/js/site.js"></script>

<div class="text-center" id="index_page">
    <h1 class="display-4">Welcome to Supify</h1>

    <br /><br />
    <p class="p-4 text-center">Supify is an Audio Player using the API <b><a href="https://wavesurfer-js.org/" style="color:black">wavesurfer</a></b> to create and listen to your favorite playlists ! </p>
    <p class="p-4 text-center"> You can start using Supify by creating an account or signing up above.</p>
        <br /><br />
        <img src="~/thanos.gif" width="20%" />

</div>


