@{
    ViewData["Title"] = "Music player";
}
<head>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="~/js/site.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>


<div class="text-center" id="index_page">
    <h1 class="display-4">Welcome to Supify</h1>
    <br /><br /><br /><br />
    <a href="../Playlist/allPlaylist"><button class="btn btn-outline-dark">List all your playlistst</button></a>
    <a href="../Playlist/createPlaylist"><button class="btn btn-outline-dark">Create a Playlist</button></a>
    <a href="../Playlist/editPlaylist"><button class="btn btn-outline-dark">Edit a Playlist</button></a>
    <a href="../Playlist/deletePlaylist"><button class="btn btn-outline-dark">Delete a Playlist</button></a>

    <!--switch dark theme
    <label class="switch">
        <input id="switch" type="checkbox">
        <span class="slider round"></span>
    </label> -->





</div>


