@{
    ViewData["Title"] = "Manager";
}
<head>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="~/js/site.js"></script>
</head>

<!-- this is the manager view, where you can CRUD a playlist or manage the songs -->
<div class="text-center" id="index_page">
    <h1 class="display-4">Welcome to Supify</h1>
    <br /><br /><br /><br />


    <a asp-controller="Playlist" asp-action="createPlaylist"><button class="btn btn-outline-dark">Create a Playlist</button></a>
    <a asp-controller="Playlist" asp-action="deletePlaylist"><button class="btn btn-outline-dark">Delete a Playlist</button></a>

    <br /><br />


    <a asp-controller="Song" asp-action="addSong"><button class="btn btn-outline-dark">Add a song to a playlist</button></a>
    <a asp-controller="Song" asp-action="Player"><button class="btn btn-outline-dark">Listen to one of your playlists</button></a>
    <a asp-controller="Song" asp-action="deleteSong"><button class="btn btn-outline-dark">Remove a song from a playlist</button></a>
    <br /><br />
    <br /><br /><br />
    <img src="~/thanos.gif" width="20%" /> <!-- cool, right ?-->





</div>


