@{
    ViewData["Title"] = "Music player";
}
<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="~/js/site.js"></script>
<link href="~/css/site.css" rel="stylesheet" />

<div class="text-center" id="index_page">
    <h1 class="display-4">Welcome to Supify</h1>
    <br /><br /><br /><br />
    <a href="playlists"><button class="btn btn-outline-dark">List all your playlistst</button></a>
    <a href="createPlaylist"><button class="btn btn-outline-dark">Create a Playlist</button></a>
    <a href="editPlaylist"><button class="btn btn-outline-dark">Edit a Playlist</button></a>
    <a href="deletePlaylist"><button class="btn btn-outline-dark">Delete a Playlist</button></a>



</div>


