
@{ ViewData["Title"] = "Upload Song";
                var playlists = ViewData["Playlists"] as List<Playlist>; }




    <h1 class="display-4 text-center">Add Song</h1> <br /><br /><br />
    @if (playlists.Any())
    {
<div class="text-center">
    <form enctype="multipart/form-data" method="post">
        <label for="playlistId">Playlist:</label>
        <select id="playlistId" name="playlistId" type="number" class="custom-select" style="width:10%;">
            @foreach (var playlist in playlists)
            {
<option value="@playlist.Id">@playlist.Name</option>}
        </select>

        <label for="song">Song name:</label>
        <input type="text" name="name" id="name">

        <label for="song">Select song to upload:</label>
        <input type="file" name="file" id="file" class="btn">

        <button type="submit" class="btn btn-outline-dark">Add Song</button>
    </form>
</div> }
            else
            {
<p>To add a song you need a playlist!</p>
                <a href="createPlaylist"></a>}


