@model Supify.Models.Playlist
@{ ViewData["Title"] = "Delete Song";
    var playlists = ViewData["Playlists"] as List<Playlist>;
    var songs = ViewData["songs"] as List<Song>; }





<h1 class="display-4 text-center">Delete a song from a playlist</h1>
<br />
<br />
<br />
<br />
@if (playlists.Any())
{
    <div class="text-center">
        <form method="post">
            <label for="playlistId">Playlist:</label>
            <!-- select of every playlist the user has, list of playlist is sent through songController-->
            <select id="playlistId" name="playlistId" type="number" class="custom-select" style="width:10%">
                @foreach (var playlist in playlists)
                {
                    <option value="@playlist.Id">@playlist.Name</option>
                }
            </select>

            <label for="Id">Song:</label>
            <!-- select of every song the selected playlist has, they are sent by the songController-->
            <select id="Id" name="Id" type="number" class="custom-select" style="width:10%">
                @foreach (var song in songs)
                {
                    <option value="@song.Id">@song.Name</option>
                }
            </select>

            <button type="submit" class="btn btn-outline-dark">Delete  <img src="~/trash.png" style="width:15px;" /></button>
        </form>

    </div>
}

else
{

    <div class="text-center">
        <!-- if there is no playlist-->
        <div class="text-center">
            <p>You don't have any playlist currently</p>
            <a asp-controller="Playlist" asp-action="createPlaylist"><button class="btn btn-outline-dark">Create your first Playlist ! </button></a>
        </div>
    </div>
}

<script type="text/javascript" src="/js/deleteSong.js"></script>


